{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hoolix - Smart Ideas for your Brand are Here</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg'%}" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500;600;700&family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png'%}">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">Hoolix</a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">Hoolix</a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li>
            <a href="#services" class="navbar-link" data-nav-link>Services</a>
          </li>

          <li>
            <a href="#features" class="navbar-link" data-nav-link>Features</a>
          </li>

          <li>
            <a href="#faq" class="navbar-link" data-nav-link>FAQ</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>

        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <a href="#" class="btn-outline">Lets talk</a>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle has-before">Visit our Hoolix agency with</p>

            <h1 class="h1 hero-title">Smart Ideas for your Brand are Here</h1>

            <p class="hero-text">
              Hoolix Agency is a fast-growing digital solutions provider that specializes in blending creativity with technology to help brands grow and transform their digital experiences. Their core focus is on delivering tailor-made strategies that drive engagement and measurable business outcomes.
            </p>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">Discover More</a>

              <button class="flex-btn">
                <div class="btn-icon">
                  <ion-icon name="play" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">How it works</span>
              </button>
            </div>

          </div>

          <figure class="hero-banner has-before img-holder" style="--width: 650; --height: 650;">
            <img src="{% static 'assets/images/hero-banner.png'%}" width="650" height="650" alt="hero banner" class="img-cover">
          </figure>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">
            <img src="{% static 'assets/images/about-banner.png'%}" width="802" height="654" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="h2-sm section-title">We create some things, Design for your success future.</h2>

            <p class="section-text">
              Fast-growing creative and digital solutions provider that focuses on empowering businesses through innovative, tailor-made strategies. Centers on blending creativity with advanced technology to deliver impactful results that help clients achieve their specific business goals in an evolving digital landscape.
            </p>

            <ul class="about-list">

              <li class="has-before">
                Building visually stunning, customized websites.
              </li>

              <li class="has-before">
                Mobile apps with a focus on seamless user experience (UX) and advanced functionality.
              </li>

              <li class="has-before">
                Price of additional materials or parts (if needed)
              </li>

              <li class="has-before">
                Transportation cost for carrying new materials/parts
              </li>

              <li class="has-before">
                You will get 100% money back offer.
              </li>

            </ul>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">Know More</a>

              <button class="flex-btn">
                <div class="btn-icon">
                  <ion-icon name="medal-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">10+ Years Experience</span>
              </button>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="services" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">-What We Offer-</p>

          <h2 class="h2 section-title text-center">Our Creative Services</h2>

          <p class="section-text text-center">
            Get the most of reduction in your team’s operating costs for the whole product which creates amazing UI/UX
            experiences.
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card has-after">

                <figure class="card-icon">
                  <img src="{% static 'assets/images/service-1.png'%}" width="140" height="140" loading="lazy"
                    alt="UI/UX Creative Design" class="img">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">UI/UX Creative Design</h3>

                  <p class="card-text">
                    Specializes in UI-UX design, Design Coding, Branding, WordPress, iOS Apps, Custom CMS, Shopify, and E-commerce solutions.
                  </p>

                  <a href="#" class="btn-link">
                    <span class="span">Read More</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card has-after">

                <figure class="card-icon">
                  <img src="{% static 'assets/images/service-2.png'%}" width="140" height="140" loading="lazy" alt="App Development"
                    class="img">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">App Development</h3>

                  <p class="card-text">
                    Providing web development, design, and digital solutions. fully responsive website builds using core technologies like HTML, CSS, and JavaScript.
                  </p>

                  <a href="#" class="btn-link">
                    <span class="span">Read More</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card has-after">

                <figure class="card-icon">
                  <img src="{% static 'assets/images/service-3.png'%}" width="140" height="140" loading="lazy"
                    alt="Professional Content Writer" class="img">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Professional Content Writer</h3>

                  <p class="card-text">
                    Crafting blog posts and web copy that rank on search engines by utilizing keyword research and SEO best practices.
                  </p>

                  <a href="#" class="btn-link">
                    <span class="span">Read More</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card has-after">

                <figure class="card-icon">
                  <img src="{% static 'assets/images/service-4.png'%}" width="140" height="140" loading="lazy" alt="Graphic Design"
                    class="img">
                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">Graphic Design</h3>

                  <p class="card-text">
                    Focus on Brand Identity, logo creation, company profiles, and Social Media Creatives. includes Calendar Design, annual reports, brochure design, and video profile production.
                  </p>

                  <a href="#" class="btn-link">
                    <span class="span">Read More</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                </div>

              </div>
            </li>

          </ul>

          <a href="#" class="btn btn-primary">Get Started</a>

        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="section features" id="features" aria-label="features">
        <div class="container">

          <p class="section-subtitle text-center">-Why Choose Us-</p>

          <h2 class="h2 section-title text-center">Reasons to Choose Us</h2>

          <p class="section-text text-center">
            Get the most of reduction in your team’s operating costs for the whole product which creates amazing UI/UX
            experiences.
          </p>

          <ul class="grid-list">

            <li>
              <div class="features-card">

                <data class="card-number" value="01">01</data>

                <h3 class="h3 card-title">Free Icon Plugin</h3>

                <p class="card-text">
                  Boasts a massive library of over 100,000 icons, including Font Awesome, Material Design, and others, making it a top choice for free icon integration.
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <data class="card-number" value="02">02</data>

                <h3 class="h3 card-title">Free 6 Month Support</h3>

                <p class="card-text">
                  Monitoring and applying essential patches to keep the website or application secure, and Ensuring the platform remains fast and responsive as traffic grows. 
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <data class="card-number" value="03">03</data>

                <h3 class="h3 card-title">Customer Strategy</h3>

                <p class="card-text">
                  Working directly with clients to monitor requirements, objectives, and project milestones to ensure the end product aligns with user needs.
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <data class="card-number" value="04">04</data>

                <h3 class="h3 card-title">Best Premimum Image</h3>

                <p class="card-text">
                  Specializes in high-end lifestyle imagery tailored for advertising and editorial markets, and provides a massive library of over 350 million images, including unique historical and niche editorial content.
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <data class="card-number" value="05">05</data>

                <h3 class="h3 card-title">Most Advanced Features</h3>

                <p class="card-text">
                  Support for advanced web and mobile development, including React Native and JavaScript (ES6+), for unique, branded client experiences, and Implementation of advanced analytics, heatmaps, and A/B testing for, high-conversion, modern business websites.
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <data class="card-number" value="06">06</data>

                <h3 class="h3 card-title">Very Reasonable Price</h3>

                <p class="card-text">
                  Transparency and effective strategies that maximize a client's ROI without the high overhead of larger firms, and Standard digital agency rates currently average between €63 and €126 per hour for strategy and specialized coding.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FAQ
      -->

      <section class="section faq" id="faq" aria-label="frequently asked questions">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Discover Frequently Asked Questions?</h2>

            <a href="#" class="btn btn-primary">Work Together</a>
          </div>

          <ul class="grid-list">

            <li>
              <div class="faq-card">

                <button class="card-action" data-accordion-action>
                  <h3 class="h3 card-title">
                    01. Curious about how to build your own UX strategy? Here are five simple steps.
                  </h3>

                  <div class="action-icon">
                    <ion-icon name="add-outline" aria-hidden="true" class="open"></ion-icon>
                    <ion-icon name="remove-outline" aria-hidden="true" class="close"></ion-icon>
                  </div>
                </button>

                <div class="card-content">
                  <p>
                    Building a solid UX strategy involves aligning user needs with business goals through research, vision setting, and iterative planning. Key steps include conducting research, defining a clear vision, identifying focus areas, creating a roadmap, and tracking KPIs to ensure success and continuous improvement.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="faq-card">

                <button class="card-action" data-accordion-action>
                  <h3 class="h3 card-title">
                    02. Where Could a Career in UX Take You? Agency vs. In-House vs. Freelance?
                  </h3>

                  <div class="action-icon">
                    <ion-icon name="add-outline" aria-hidden="true" class="open"></ion-icon>
                    <ion-icon name="remove-outline" aria-hidden="true" class="close"></ion-icon>
                  </div>
                </button>

                <div class="card-content">
                  <p>
                    A UX career offers diverse paths, taking you from rapid, varied project work at agencies like Hoolix to deep, focused product ownership in-house or flexible, entrepreneurial freelancing. Agencies offer high-speed skill building, in-house provides deep product immersion, and freelancing offers freedom, each suiting different career stages.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="faq-card">

                <button class="card-action" data-accordion-action>
                  <h3 class="h3 card-title">
                    03. What Is a Problem Statement in UX? And How To Write One?
                  </h3>

                  <div class="action-icon">
                    <ion-icon name="add-outline" aria-hidden="true" class="open"></ion-icon>
                    <ion-icon name="remove-outline" aria-hidden="true" class="close"></ion-icon>
                  </div>
                </button>

                <div class="card-content">
                  <p>
                    A problem statement is a concise, actionable summary of a user’s pain point that needs to be solved. Agencies like Hoolix (and similar top-tier UX firms) to ensure the entire design team stays focused on user needs rather than just technical features and keeps stakeholders and designers on the same page regarding project goals.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="faq-card">

                <button class="card-action" data-accordion-action>
                  <h3 class="h3 card-title">
                    04. There are several techniques UX designers employ to arrive at a succinct?
                  </h3>

                  <div class="action-icon">
                    <ion-icon name="add-outline" aria-hidden="true" class="open"></ion-icon>
                    <ion-icon name="remove-outline" aria-hidden="true" class="close"></ion-icon>
                  </div>
                </button>

                <div class="card-content">
                  <p>
                    UX designers utilize various methodologies to create succinct, effective products. While general practices are standard, agencies like Hoolix (and similar top-tier firms) typically focus on these core techniques to distill complex user needs into streamlined solutions
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="faq-card">

                <button class="card-action" data-accordion-action>
                  <h3 class="h3 card-title">
                    05. What are the obstacles users are facing? What are they trying to do?
                  </h3>

                  <div class="action-icon">
                    <ion-icon name="add-outline" aria-hidden="true" class="open"></ion-icon>
                    <ion-icon name="remove-outline" aria-hidden="true" class="close"></ion-icon>
                  </div>
                </button>

                <div class="card-content">
                  <p>
                    Many businesses struggle with limited manpower or budget when trying to scale their digital presence, and misalignment between client expectations and agency output, particularly in design and development, causes delays. and here Hoolix to provide a digital solutions provider specializing in web development, digital marketing, and technology aims to help businesses grow by enhancing their online presence, streamlining operations, and improving customer engagement.
                  </p>
                </div>

              </div>
            </li>

          </ul>
 
        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer" id="contact">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">Hoolix</a>

          <p class="footer-text">
            Subscribe to the Hoolix Affiliate Program—It's free! HOOLIX - Affiliate Program. Promote your Hoolix affiliate link to your audience. 
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter your email" required class="email-field">

            <button type="submit" class="form-btn">
              <ion-icon name="paper-plane" aria-hidden="true"></ion-icon>
            </button>
          </form>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Our Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">Strategy & Research</a>
          </li>

          <li>
            <a href="#" class="footer-link">Web Development</a>
          </li>

          <li>
            <a href="#" class="footer-link">Web Solution</a>
          </li>

          <li>
            <a href="#" class="footer-link">Digital Merketing</a>
          </li>

          <li>
            <a href="#" class="footer-link">App Design</a>
          </li>

          <li>
            <a href="#" class="footer-link">App Development</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Company</p>
          </li>

          <li>
            <a href="#about" class="footer-link">About Company</a>
          </li>

          <li>
            <a href="#services" class="footer-link">Our Services</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our Portfolio</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Latest News</a>
          </li>

          <li>
            <a href="#contact" class="footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>

          <li class="footer-item">
            <ion-icon name="location" aria-hidden="true"></ion-icon>

            <address class="contact-link address">
              Jl.Brand New 4517 South Tangerang, 39495 Indonesia.
            </address>
          </li>

          <li class="footer-item">
            <ion-icon name="call" aria-hidden="true"></ion-icon>

            <a href="tel:+6289876543210" class="contact-link">+6289876543210</a>
          </li>

          <li class="footer-item">
            <ion-icon name="mail" aria-hidden="true"></ion-icon>

            <a href="mailto:info@hoolixbrand.com" class="contact-link">info@hoolixbrand.com</a>
          </li>

          <li class="footer-item">
            <ul class="social-list">

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-pinterest"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; Copyright 2026 Hoolix | All Rights Reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Terms of Use</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'js/script.js'%}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>